@import "reset";
@import "variables";

body {
  background-color:  rgb(92, 49, 49);
  display: flex;
  justify-content: space-between;
  color: white;
  .col {
    width: 30%;
    background-color: rgb(49, 4, 15);
  }

  button {
    font-size: 20px;
    padding: 1em;
  }

  h2 {
    font-size: 20px;
    margin: 1em;
  }
  img {
    height: 200px;
    margin: 1em;
  }

  p, li {
    font-size: 20px;
    margin: 1em;
  }
}
