@import "reset";
@import "variables";

body {
  background-color:  rgb(92, 49, 49);
  display: flex;
  justify-content: space-between;
  color: white;
  .col {
    width: 30%;
    background-color: rgb(49, 4, 15);
    min-height: 50px;
  }
  h1 {
    color: $green;
    transition: color 1s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    &:hover {
      color: $red;
    }
  }
}
